---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Cloudflare 🔥">
  <main class="flex flex-col items-center justify-center bg-background text-foreground gap-4">
    <h1>Astro Cloudflare 🔥</h1>
    <Button>Save</Button>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      font-size: 20px;
      line-height: 1.6;
      text-align: center;
    }
  </style>
</Layout>
