---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getAllLinks } from "@/services/links";

const links = await getAllLinks();
---

<Layout title="Astro Cloudflare 🔥">
  <main>
    <h1>Links:</h1>

		<ul role="list" class="link-card-grid">
			{
				links.map((link) => (
					<Card
						href={link.slug}
						title={link.slug}
					/>
				))
			}
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
